<div class="card" style="display: flex;justify-content: center;align-items: center;">
    <h1 style="padding-bottom: 50px;">Business Owner Page</h1>
    <div class=row>
      <div class="col-md-6">
        <div class="form-group">
          <label style="height:50px" for="waitTime">Average Wait Time Per Person</label>
          <input type="number" class="form-control" [(ngModel)]="waitTime" (change)="updateDB()" name="waitTime">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label style="height:50px" for="peopleInside">People Inside the Store</label>
          <input type="number" class="form-control" [(ngModel)]="peopleInside" (change)="updateDB()" name="peopleInside">
        </div>
      </div>
    </div>
    <div class="row">
      <h1> {{peopleInside*waitTime}} </h1>
    </div>
    <div class="form-group">
      <button (click)="logout()" type="button"
        class="btn btn-secondary">Logout</button>
    </div>
  </div>