<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <a class="navbar-brand" href="#"><img src='assets/logo.png' alt="logo" style="width:40px;">AI Business Tracker</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/registration">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contactus">ContactUs</a>
      </li>
    </ul>
  </div>
</nav>
<div class="textIntro">Welcome to AI Business Wait Time Assist</div>

<div style="float: right;padding: 20px;" *ngIf="router.url === '/business'">
  <button (click)="logout()" type="button" class="btn btn-primary">Logout</button>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>