.table .th {
    font-weight: 200;
}

ul li:hover{
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.textIntro {
    text-shadow: 1px 1px 2px black, 0 0 0.5em white, 0 0 0.2em black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: x-large;
    font-weight: 500;
}

img .main{
  -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
position:fixed;
}

