#searchBar{
  background-image: url('./images/searchIcon.png');
  background-image-float: left;
  background-position: 2% 50%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 42px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  float: right;
  border-radius: 5px;
  }

