/* You can add global styles to this file, and also import other style files */

.bg-image {
  background-image: url('./app/images/backgroundImage.png');
  backdrop-filter: blur(1.5px);
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
