<div id="mainDiv">
  <div class="card shadow p-3 mb-5 rounded" id="box">
    <div>
      <div class="website"> <h3 id="header">About This WebSite</h3>
        <p style ="text-align: justify;text-justify: inter-word;">We are here to help you to save your time. Our website provide the waitimes for the multiple stores with different locations.
          (If owner register their business with us by some cost($$).)you can find multiple stores info in our <a routerLinkActive="active" routerLink="/dashboard">dashboard</a>, you are not required to login to 
          our websites to see the waittimes. If any one want to add their business also in our dashboard you need to register for website and you need
          to give few details about your store. We are directly accessing the entrace and exit secuity camera footage form their stores and
          calculating the average waittimes for you.
        </p>
      </div>
      <hr/>
      <div class="privacyPolicy" style ="text-align: justify;text-justify: inter-word;"> 
        <h3 id="header">Privacy Policy</h3>
        <p>At AIBusinessWaitTimeTracker, accessible from <a routerLinkActive="active" routerLink="/login">this link</a>, one of our main priorities is the privacy of our visitors. 
          This Privacy Policy document contains types of information that is collected and recorded by AIBusinessWaitTimeTracker and how we use it.
        </p>
        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
        <h5>Privacy Policies</h5>
        <p>AIBusinessWaitTimeTracker does not knowingly collect any Personal Identifiable Information from guests who wanted to the waitimes for any stores.</p>
        <p>This Privacy Policy applies only to our online activities and is valid for the users who log into 
          our website with regards to the information that they shared and/or collect in AIBusinessWaitTimeTracker. 
          This policy is not applicable to any information collected offline or via channels other than this website.</p>
        <h5>Consent</h5>
        <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
      </div>
    </div>
  </div>
</div>
