<div id="mainDiv">
  <div class="card shadow p-3 mb-5 rounded" id="box">
    <div>
      <div class="website"> <h3 id="header">About This WebSite</h3>
        <p style ="text-align: justify;text-justify: inter-word;">We are here to save the shopping time for the customers' and to help with increase the profit in business for Business Owners. Our website provides the Wait Time feature for the multiple stores with different locations.
          Business owners are required to pay the subscription charges to utilize our service.
          If business owners have registered or subscribed our service, then customers can find those stores informations
          (i.e. business owner's name, store name, store location, the number of people inside that store,
          the number of people in the queue and the total wait time) on our <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
          without login or paying any subscription charges.
        </p>
      </div>
      <hr/>
      <div class="privacyPolicy" style ="text-align: justify;text-justify: inter-word;"> 
        <h3 id="header">Privacy Policy</h3>
        <p>Protecting your private informations is our priority. This statement of Privacy applies to https://objectdetection-ac7b4.web.app/ and AIBusinessWaitTimeTracker and governs the data collection and usage. Our website is accessible from <a routerLinkActive="active" routerLink="/login">this link</a>. 
          This Privacy Policy document contains types of information that is collected and recorded by AIBusinessWaitTimeTracker and how we use it.
        </p>
        <!--<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>-->
        <h5>Privacy Policies</h5>
        <p>AIBusinessWaitTimeTracker does not knowingly collect any Personal Identifiable Information from guests or customers who haven't subscribed our services and wanted to get the waitimes for any registered stores.</p>
        <p>On the contrary, we confidentially stores the informations (i.e. business owner's name, store name and store location) for only those business owners who have registered with us or subscribed our services.</p>
        <p>This Privacy Policy applies only to our online activities and is valid for the users who log into 
          our website with regards to the information that they shared and/or collect in AIBusinessWaitTimeTracker. 
          This policy is not applicable to any information collected offline or via channels other than this website.</p>
        <h5>Consent</h5>
        <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
      </div>
    </div>
  </div>
</div>
